/* Importante uma fonte para utilizar */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilizar pagina principal */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}


/* Background */
body {
    /* background-color: #7a7c7e; */
    background-color: var(--background-color);
    color: white;

}

/* Janela aonde contem todos os ementos */
main {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilizar o forms */
.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

/* Estilizar todos inputs da tela modo create e update */
input {
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

/* Estilizar o button add */
button[type="submit"] {
    background-color: #0099ff;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

/* Estilizar tabela */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Estilizar linhas da tabela */
td,
th {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    /* alternando cores entre as linhas */
    background-color: #f5f5f5;
}

/* Estilizar combo-box de seleção do status */
select {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ebebeb;
}

select:hover {
    /* passar o mouse em cima fazer um evento */
    background-color: #ddd;
}

/* Estilizar opção de Ações (Edição e Deleção) */
.btn-action {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* mão ao passar o mouse em cima dos icones */
}

.btn-action:nth-child(1) {
    background-color: orange;
    margin-right: 5px;
}

.btn-action:nth-child(2) {
    background-color: rgba(237, 42, 42, 0.9);
}


/* Menu */
:root {
    --icon-size: 2.5rem;
    --indicator-spacing: calc(var(--icon-size) / 7);
    --border-radius: calc(var(--icon-size) / 4);
    --nav-item-padding: calc(var(--icon-size) / 2);
    --background-color: #333;
  }
  
  .navbar-container {
    background-color: white;
    border-radius: var(--border-radius);
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0 calc(var(--nav-item-padding) * 1.5);
  }
  
  .list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list a {
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--nav-item-padding);
  }
  
  .list .text {
    font-size: .8em;
    opacity: 0;
    pointer-events: none;
    transition: 250ms ease-in-out;
    position: absolute;
    bottom: calc(.5 * var(--nav-item-padding));
    transform: translateY(50%);
  }
  
  .list .icon {
    position: relative;
    transition: 250ms ease-in-out;
  }
  
  .list .icon svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    display: block;
  }
  
  .list .active .text {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }
  
  .list .active .icon {
    transform: translateY(calc(-50% - var(--nav-item-padding)));
  }
  
  /* .list .active::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: white;
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(.2 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-right-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-left: none;
  }
  
  .list .active::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: white;
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    right: calc(.2 * var(--indicator-spacing));
    transform: translateX(100%);
    border-top-left-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-right: none;
  } */
  
  .list {
    position: relative;
  }
  
  .indicator {
    position: absolute;
    left: calc(var(--position) * (var(--icon-size) + var(--nav-item-padding) * 2));
    transition: 250ms ease-in-out;
  }
  
  .indicator::after,
  .indicator::before {
    content: "";
    position: absolute;
    border-radius: 100%;
  }
  
  .indicator::after {
    background-color: hsl(100, 100%, 50%);
    width: calc(var(--icon-size) * 2);
    height: calc(var(--icon-size) * 2);
    top: calc(-1 * var(--icon-size));
  }
  .indicator::before {
    background-color: var(--background-color);
    width: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
    height: calc((var(--icon-size) + var(--indicator-spacing)) * 2);
    top: calc(-1 * var(--icon-size) - var(--indicator-spacing));
    left: calc(-1 * var(--indicator-spacing));
  }
  
  .corners::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: white;
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(.2 * var(--indicator-spacing));
    transform: translateX(-100%);
    border-top-right-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-left: none;
  }
  
  .corners::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    background-color: white;
    z-index: 1;
    top: calc(-1 * var(--indicator-spacing));
    left: calc(var(--icon-size) * 2 + -.2 * var(--indicator-spacing));
    border-top-left-radius: 100%;
    border-width: calc(var(--indicator-spacing));
    border-color: var(--background-color);
    border-style: solid;
    border-bottom: none;
    border-right: none;
  }

/* Pop-up */
.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.popup-content {
  text-align: center;
}

.popup-button {
  margin-top: 10px;
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ebebeb;
  cursor: pointer;
}

